/* *{

}
.header{
}
.TweetScreen{
  height: 300px;
  width: 300px;
  border: 5px,black;
  color: black;
  background-color: aliceblue;
  border-radius: 50px;
  display: flex;
  flex-direction:column;
  justify-content: space-around;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px
}
 */
 .App{
  min-height: 100vh;
  display:flex;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  justify-content: space-around;
  align-items: center;
}
